<html>
<!--HEAD-->
<%- include("../partials/headDetallePelicula") %>

  <body class="bg1">
    <%- include("../partials/header") %>

      <!--MAIN-->
      <main>

        <div class="contenedorPrincipal">
          <div class="videodeyoutube">
            <iframe  class="videoY" src="<%= movie.video %>" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>

          <div class="card mb-3 fondo" style="max-width: 1000px;">


            <div class="card-body espaciado">

              <h3 class="card-title titulo">
                <%=movie.nombre%>
              </h3>

              <p class="linea">
                <%= movie.resumen%>
              </p>


              <% if (movie.genero && movie.genero.length > 0) { %>
                <h6 class="card-title linea">Género:
                  <%= movie.genero.map(gen => gen.nombre).join(', ') %>
                </h6>
              <% } else { %>
                <p class="card-title linea">Género: No especificado</p>
              <% } %>
              
              


                    <h6 class="card-title linea"> Duración:
                      <%=movie.duracion%>min
                    </h6>

                    <h6 class="card-title linea">Fecha de estreno:
                      <%=movie.fecha_estreno%>
                    </h6>

                    <% if (movie.plataforma && movie.plataforma.length > 0) { %>
                      <h6 class="card-title linea">plataforma:
                        <%= movie.plataforma.map(plataforma => plataforma.nombre).join(', ') %>
                      </h6>
                    <% } else { %>
                      <p class="card-title linea">plataforma: No especificado</p>
                    <% } %>



                    <% if (movie.tipo && movie.tipo.length > 0) { %>
                      <h6 class="card-title linea">Tipo:
                        <%= movie.tipo.map(tipo => tipo.nombre).join(', ') %>
                      </h6>
                    <% } else { %>
                      <p class="card-title linea">Tipo: No especificado</p>
                    <% } %>

                                       



                   <!-- Detalle de la película -->

                                  
                                  <!-- CALIFICACION-->
                                  <% if (locals.isLogged) {%>
                                    <form action="/peliculas/detalle/<%= movie.id %>" method="POST" class="calificacion-form">
                                      <input type="hidden" name="usuarioId" value="<%=locals.userLogged.id %>" />
                                      <div class="calificacion">
                                        <h6 class="card-title linea" for="calificacion">Calificación:</h6>
                                        <div class="clasificacion">
                                          <input id="radio5" type="radio" name="calificacion" value="5" />
                                          <label for="radio5">★</label>
                                          <input id="radio4" type="radio" name="calificacion" value="4" />
                                          <label for="radio4">★</label>
                                          <input id="radio3" type="radio" name="calificacion" value="3" />
                                          <label for="radio3">★</label>
                                          <input id="radio2" type="radio" name="calificacion" value="2" />
                                          <label for="radio2">★</label>
                                          <input id="radio1" type="radio" name="calificacion" value="1" />
                                          <label for="radio1">★</label>
                                        </div>
                                        <p id="error1"></p>
                                      </div>
                                      <h6 class="card-title linea" for="comentarioUsuario">Dejanos tu comentario:</h6>
                                      <textarea id="comentarioUsuario" name="comentarioUsuario"></textarea>
                                      <p id="error2"></p>
                                      <button class="cFondo boton-enviar" type="submit">Enviar</button>
                                    </form>
                                  <% } else { %>
                                    <a class="validacion" href="/usuarios/login">
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                      Logueate para calificar
                                    </a>
                                  <% } %>
                                  <!-- FINAL CALIFICACION -->


                          <% if (locals.isLogged && locals.userLogged && locals.userLogged.administrador === 1) { %>
                          <div style="display: flex; gap: 20px;">
                            <a href="/peliculas/actualizarFilm/<%= movie.id %>"
                              class="btn btn-primary altura">Actualizar</a>

                            <form id="eliminar" action="/peliculas/delete/<%= movie.id %>?_method=DELETE" method="POST">
                              <button type="submit" class="btn btn-primary br altura">Eliminar</button>
                            </form>

                          </div>
                          <% } %>
                            
                           <!--cajita de comentarios de ALL user-->

                           <h5 class="tituloComentarios"> Comentarios
                          </h5>
                            <% if (comentarios && comentarios.length > 0) { %>
                              <div class="comment-box">
                                <% comentarios.reverse().forEach(comment => { %>
                                  <div class="comment">
                                    <!-- Verificación para asegurarse de que comment.usuario tenga un valor -->
                                    <% if (comment.usuario) { %>
                                      <img src="<%= comment.usuario.imagen %>" alt="Imagen de Perfil" width="50" height="50"  style="border-radius: 100%;">
                                      <div>
                                        <p class="comment-content"><%= comment.comentario %></p>
                                        <!-- Muestra la calificación del usuario -->
                                        <p class="comment-info">Usuario: <%= comment.usuario.nombre %></p>
                                        
                                        <p class="comment-info">Calificación: <%= comment.calificacion %> estrellas</p>
                                        <!-- Muestra el nombre del usuario si está disponible -->
                                      </div>
                                    <% } else { %>
                                      <p class="comment-content"><%= comment.comentario %></p>
                                      <!-- Puedes omitir la fecha si no es necesaria -->
                                    <% } %>
                                  </div>
                                <% }); %>
                              </div>
                            <% } else { %>
                              <p class="comentario">No hay comentarios disponibles.</p>
                            <% } %>
                            
                            
                            
                            
                  
            </div>
          </div>
        </div>
        
        <script src="/js/deleteFilm.js"></script>

        <script src="/js/calificacion.js"></script>
       
        

        
      </main>
      <!--FOOTER-->
      <%- include("../partials/footer") %>
  </body>

</html>

