<html>
<!--HEAD-->
<%- include("../partials/headDetalleNoticia") %>

  <body class="bg1">
    <!--HEADER-->
    <%- include("../partials/header") %>

      <!--MAIN-->
      <main>
        <h1 class="titulo4">
          <%=noticiaDetalle.titulo%>
        </h1>

        <div class="contenedorPrincipal">
          <div class="videodeyoutube"><iframe width="1000" height="550" src="<%= noticiaDetalle.video %>"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></div> </iframe>

          <div class="card mb-3 fondo" style="max-width: 1000px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="<%= noticiaDetalle.imagen3 %>" class="img-fluid rounded-start" alt="...">
              </div>

              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title titulo">
                    <%=noticiaDetalle.nombre%>
                  </h3>

                  <h5 class="card-title titulo1">
                    <%=noticiaDetalle.titulo2%>
                  </h5>

                  <p class="card-text resumen">
                    <%= noticiaDetalle.resumen%>
                  </p>


                  <h6 class="card-title genero">Genero:


                    <%= noticiaDetalle.genero[0].nombre %>

                  </h6>

                  <h6 class="card-title duracion"> Duración:
                    <%=noticiaDetalle.duracion%>min
                  </h6>

                  <h6 class="card-title estreno">Fecha de estreno:
                    <%=noticiaDetalle.fecha_estreno%>
                  </h6>

                

                </div>
              </div>
            </div>
          </div>
      </main>

      <!-- FOOTER -->
      <%- include("../partials/footer.ejs") %>

  </body>

</html>