<!--HEAD-->
<%- include(".././partials/headNoticias") %>

    <body class="bg1">
        <!--HEADER-->
        <%- include(".././partials/header") %>

            <!--MAIN-->
            <main>
                <h1 class="titulo5">
                    <%= peliculaDisneyPlus.titulo %>
                </h1>

    

                <div class="contenedorPrincipal">
                    <img src="<%= peliculaDisneyPlus.imagen1 %>" alt="<%= peliculaDisneyPlus.nombre %>" width="1000px" height="388px">

                    <div class="card mb-3 fondo" style="max-width: 1000px;">
                        <div>

                            <div class="card-body">

                                <h5 class="bajada1">
                                    <%= peliculaDisneyPlus.titulo2 %>
                                </h5>

                                <p class="card-text resumen">
                                    <%=peliculaDisneyPlus.resumen%>
                                </p>


                                <div class="videodeyoutube"><iframe width="900" height="550" src="<%= peliculaDisneyPlus.video %>"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen></div> </iframe></div>

                                <h6 class="card-title estreno">Fecha de estreno:
                                    <%=peliculaDisneyPlus.fecha_estreno%>
                                </h6>

                                <h6 class="card-title estreno">Genero:
                                    <%=peliculaDisneyPlus.genero[0].nombre%>
                                </h6>

                                
                                <% if (locals.isLogged && locals.userLogged && locals.userLogged.administrador === 1) { %>
                                    <div style="display: flex; gap: 20px;">
                                      <a href="/peliculas/actualizarFilm/<%= movie.id %>"
                                        class="btn btn-primary altura">Actualizar</a>
          
                                      <form id="eliminar" action="/peliculas/delete/<%= movie.id %>?_method=DELETE" method="POST">
                                        <button type="submit" class="btn btn-primary br altura">Eliminar</button>
                                      </form>
          
                                    </div>
                                    <% } %>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </main>
            <!-- FOOTER -->
            <%- include("../partials/footer") %>
    </body>

    </html>