<!--HEAD-->
<%- include("./partials/headResultado") %>

  <!--HEADER-->

  <body class="bgPrincipal">
    <%- include("./partials/header") %>

      <!--MAIN-->
      <h1 class="titulo4">Resultados de la búsqueda</h1>
      <div class="container">
        <ul class="lista-resultados">
          <% resultados.forEach(function(resultado) { %>
            <a href="/peliculas/detalle/<%= resultado.id %>"> 
            <img class="imagen" src="<%= resultado.imagen1 %>" width="400px">
            <li >
              
               <h6 class="bajada"> <%= resultado.nombre %> </h6>
              </a>
            </li>
            <% }); %>
        </ul>
      </div>
      <!--FIN MAIN-->

      <br>
      <br>
      <br>
      <!--FOOTER-->
      <%- include("./partials/footer") %>
  </body>

  </html>