<html>
<!--HEAD-->
<%- include("../partials/headCrearFilm",) %>

  <body class="bg1">
    <%- include("../partials/header") %>

      <main class="container">
        <form id="CrearFilm" action="/peliculas/CrearFilm" method="POST" class="needs-validation" novalidate
          enctype="multipart/form-data">
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label class="titulo" for="nombre">Titulo película</label>
              <input type="text" class="form-control" id="nombre" placeholder="nombre" name="nombre" required>
              <div class="valid-feedback">
                ¡Se ve bien!
              </div>
            </div>

            <div  class="col-md-4 mb-3">
              <label class="titulo" for="imagen1">Imagen</label>
              <input type="file" class="form-control" id="imagen1" placeholder="imagen" name="imagen" required>
              <div class="valid-feedback">
                ¡Se ve bien!
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <label class="titulo" for="descripcion">Sinopsis</label>
              <textarea class="form-control caja" id="resumen" placeholder="resumen" name="resumen" rows="4" cols="50" required></textarea>
              <div class="valid-feedback">
                  ¡Se ve bien!
              </div>
          </div>

            <div class="col-md-4 mb-3">
              <label class="titulo" for="descripcion">Fecha de estreno</label>
              <input type="date" class="form-control" id="fecha_estreno" placeholder="fecha_estreno"
                name="fecha_estreno" required>
              <div class="valid-feedback">
                ¡Se ve bien!
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <label class="titulo" for="descripcion">Duración (minutos)</label>
              <input type="text" class="form-control" id="duracion" placeholder="duración" name="duracion" required>
              <div class="valid-feedback">
                ¡Se ve bien!
              </div>
            </div>

           

            <div class="col-md-4 mb-3">
              <label class="titulo" for="video">Enlace de Video (trailer)</label>
              <input type="text" class="form-control" id="video" placeholder="video" name="video" required>
              <div class="valid-feedback">
              </div>
            </div>
          </div>

          

          <div class="col-md-4 mb-3">
            <label class="titulo" for="genero">Género</label>
            <select class="form-control" id="genero" name="genero" required>
              <option selected disabled>selecciona un género</option>
              <% for (let i=0; i<generos.length; i++) {%>
                <option value="<%=generos[i].id%>">
                  <%=generos[i].nombre%>
                </option>
              <%} %>
            </select>
          </div>
          </div>

          <button class="btn btn-secondary boton" type="submit">Subir Película</button>
        
        </form>
        <script src="/js/CrearFilm.js"></script>
        <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function () {
            'use strict';
            window.addEventListener('load', function () {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);

          })();
        </script>

</main>

      <!--FOOTER-->
      <%- include("../partials/footer") %>
   
  
</body>

</html>

</html>