<!--HEAD-->
<%- include(".././partials/headNoticias") %>

    <body class="bg1">
        <!--HEADER-->
        <%- include(".././partials/header") %>

            <!--MAIN-->
            <main>
                <h1 class="titulo5">
                    <%= seriePrimeVideo.titulo %>
                </h1>

    

                <div class="contenedorPrincipal">
                    <img src="<%= seriePrimeVideo.imagen1 %>" alt="<%= seriePrimeVideo.nombre %>" width="1000px" height="388px">

                    <div class="card mb-3 fondo" style="max-width: 1000px;">
                        <div>

                            <div class="card-body">

                                <h5 class="bajada1">
                                    <%= seriePrimeVideo.titulo2 %>
                                </h5>

                                <p class="card-text resumen">
                                    <%=seriePrimeVideo.resumen%>
                                </p>


                                <div class="videodeyoutube"><iframe width="900" height="550" src="<%= seriePrimeVideo.video %>"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen></div> </iframe></div>

                                <h6 class="card-title estreno">Fecha de estreno:
                                    <%=seriePrimeVideo.fecha_estreno%>
                                </h6>

                                <h6 class="card-title estreno">Genero:
                                    <%=seriePrimeVideo.genero[0].nombre%>
                                </h6>

                                
                                </h6>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </main>
            <!-- FOOTER -->
            <%- include("../partials/footer") %>
    </body>

    </html>