<!--HEAD-->
<%- include(".././partials/headNoticias") %>

    <body class="bg1">
        <!--HEADER-->
        <%- include(".././partials/header") %>

            <main>
                <!--EJS-->
                <h1 class="titulo4">series Star +</h1>

                <div class="row row-cols-1 row-cols-md-3">
                    <% for (let i=0; i < seriesStarPlus.length; i++) { %>
                        <div class="col mb-4">
                            <div class="card-body">
                                <div class="peliculas-container">
                                    <div class="pelicula">
                                        <a href="./seriesStarPlus/detalle/<%=seriesStarPlus[i].id%>">
                                            <img class="imagen" src="<%= seriesStarPlus[i].imagen1 %>"
                                                alt="<%= seriesStarPlus[i].nombre %>" width="470px">
                                        </a>
                                        <div class="textoPeliculas">
                                            <a href="./seriesStarPlus/detalle/<%=seriesStarPlus[i].id%>" class="textoenlasimagenes">
                                              <%= seriesStarPlus[i].nombre %>
                                            </a>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </main>

            <!-- FOOTER -->
            <%- include(".././partials/footer.ejs") %>
    </body>

    </html>